.footer {
  display: flex;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: rgba(0,0,0,.7);
}

.footer p {
  margin: 0;
}

.logo {
  margin-left: 8px;
  margin-top: 8px;
}